In [1]:
# Import necessary libraries
import pandas as pd
from textblob import TextBlob

In [2]:
# Add the parent directory to sys.path
import sys, os
from pathlib import Path

parent_directory = Path(os.getcwd()).parent.parent
sys.path.insert(0, str(parent_directory))
sys.path

['c:\\Users\\mekbi\\Desktop\\Kifiya\\week-1\\financial-news-sentiment-analysis',
 'E:\\python_projects\\CVbot',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-1\\financial-news-sentiment-analysis\\notebooks\\correlation-analysis',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312\\python312.zip',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312\\DLLs',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312\\Lib',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-1\\financial-news-sentiment-analysis\\venv',
 '',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-1\\financial-news-sentiment-analysis\\venv\\Lib\\site-packages',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-1\\financial-news-sentiment-analysis\\venv\\Lib\\site-packages\\win32',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-1\\financial-news-sentiment-analysis\\venv\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-1\\financial-news-sentiment-analysis\\venv\\Lib\\site-packages\\Pythonwin']

In [3]:
# Import the correlation_analyzer module intialize a CorrelationAnalyzer object
from scripts.correlarion_analyzer import CorrelationAnalyzer
analyzer = CorrelationAnalyzer()

# Correlation analysis for Apple

In [4]:
# Load and inspect headline data for Apple
headline_data = analyzer.load_headline_data(parent_dir=parent_directory,
                                            ticker='AAPL')
headline_data.head()

,date,headline
6680,2020-06-10 11:33:26-04:00,Tech Stocks And FAANGS Strong Again To Start D...
6681,2020-06-10 08:14:08-04:00,10 Biggest Price Target Changes For Wednesday
6682,2020-06-10 07:53:47-04:00,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,..."
6683,2020-06-10 07:19:25-04:00,"Deutsche Bank Maintains Buy on Apple, Raises P..."
6684,2020-06-10 06:27:11-04:00,Apple To Let Users Trade In Their Mac Computer...

In [5]:
# Add sentiment scores to headline data and inspect it
headline_data = analyzer.add_sentiment_score(headline_data=headline_data)
headline_data.head()

,date,headline,sentiment
6680,2020-06-10 11:33:26-04:00,Tech Stocks And FAANGS Strong Again To Start D...,0.433333
6681,2020-06-10 08:14:08-04:00,10 Biggest Price Target Changes For Wednesday,0.000000
6682,2020-06-10 07:53:47-04:00,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",0.500000
6683,2020-06-10 07:19:25-04:00,"Deutsche Bank Maintains Buy on Apple, Raises P...",0.000000
6684,2020-06-10 06:27:11-04:00,Apple To Let Users Trade In Their Mac Computer...,0.000000

In [7]:
# Load stock data for Apple and inspect it
stock_data = analyzer.load_stock_data(parent_directory=parent_directory,
                                      ticker='AAPL')
stock_data.head()

         date     Close
0  1980-12-12  0.128348
1  1980-12-15  0.121652
2  1980-12-16  0.112723
3  1980-12-17  0.115513
4  1980-12-18  0.118862

In [8]:
# Add daily returns for Apple and inspect it
stock_data = analyzer.add_daily_returns(stock_data=stock_data)
stock_data.head()

         date     Close  Daily Returns
0  1980-12-12  0.128348            NaN
1  1980-12-15  0.121652      -0.052171
2  1980-12-16  0.112723      -0.073398
3  1980-12-17  0.115513       0.024751
4  1980-12-18  0.118862       0.028992

In [9]:
# Merge the stock data and headline data based on the date and inspect it
merged_data = analyzer.merge_stock_data(headline_data=headline_data,
                                        stock_data=stock_data)
merged_data.head()

Empty DataFrame
Columns: [date, headline, sentiment, Close, Daily Returns]
Index: []

- This shows there is no relation between the two datasets according to the dates and hence no correlation can be done.

In [10]:
# Show there is no correlation
correlation = analyzer.calc_correlation(merged_data=merged_data,
                                        col1='sentiment',
                                        col2='Close')
correlation

No correlation can be calculated between these two datasets

# Correlation analysis for Amazon

In [11]:
# Load and inspect headline data and inspect data
headline_data = analyzer.load_headline_data(parent_dir=parent_directory,
                                            ticker='AMZN')
headline_data.head()

,date,headline
76177,2020-06-10 13:18:50-04:00,How Cannabis Company Cannaphyll Is Marketing O...
76178,2020-06-10 11:33:26-04:00,Tech Stocks And FAANGS Strong Again To Start D...
76179,2020-06-10 07:53:47-04:00,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,..."
76180,2020-06-10 07:20:03-04:00,"Hearing Vertical Group Out Positive On Amazon,..."
76181,2020-06-10 00:52:01-04:00,Big Tech Reaches New Record Heights At The Sto...

In [12]:
# Add sentiment scores to amazon headline data
headline_data = analyzer.add_sentiment_score(headline_data=headline_data)
headline_data.head()

,date,headline,sentiment
76177,2020-06-10 13:18:50-04:00,How Cannabis Company Cannaphyll Is Marketing O...,0.000000
76178,2020-06-10 11:33:26-04:00,Tech Stocks And FAANGS Strong Again To Start D...,0.433333
76179,2020-06-10 07:53:47-04:00,"Benzinga Pro's Top 5 Stocks To Watch For Wed.,...",0.500000
76180,2020-06-10 07:20:03-04:00,"Hearing Vertical Group Out Positive On Amazon,...",0.227273
76181,2020-06-10 00:52:01-04:00,Big Tech Reaches New Record Heights At The Sto...,0.068182

In [13]:
# Load and insepct amazon stock data
stock_data = analyzer.load_stock_data(parent_directory=parent_directory,
                                      ticker='AMZN')
stock_data.head()

         date     Close
0  1997-05-15  0.097917
1  1997-05-16  0.086458
2  1997-05-19  0.085417
3  1997-05-20  0.081771
4  1997-05-21  0.071354

In [14]:
# Add daily returns to stock data
stock_data = analyzer.add_daily_returns(stock_data=stock_data)
stock_data.head()

         date     Close  Daily Returns
0  1997-05-15  0.097917            NaN
1  1997-05-16  0.086458      -0.117028
2  1997-05-19  0.085417      -0.012040
3  1997-05-20  0.081771      -0.042685
4  1997-05-21  0.071354      -0.127392

In [15]:
# Merge the two datasets by date
merged_data = analyzer.merge_stock_data(headline_data=headline_data,
                                        stock_data=stock_data)
merged_data.head()

Empty DataFrame
Columns: [date, headline, sentiment, Close, Daily Returns]
Index: []

- No correlation between the stock data and headline data for the given data